Package: com.shellbay77.gpsmasterpatch
Name: GPSMasterPatch
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Extends GPS Master membership expiration
Maintainer: shellbay77
Author: shellbay77
Section: Tweaks
